body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

@mixin parrafo {
            color:#222;
            font-size: 2.2rem;
            font-weight: 700;
            text-shadow: 4px 4px 10px aliceblue;
}
@mixin parrafo2 {
    color:#222;
    font-size: 2.1rem;
    font-weight: 700;
    text-shadow: 4px 4px 10px aliceblue;
}
@mixin parrafo3 {
    font-size: 1.5rem;
}

.seccion {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;

    .menu {
        padding-top: 1rem;
        gap: 2rem;

         li { 
            list-style-type: none;
            a {
            text-decoration: none;
            font-size: 1rem;
            color: azure;

                &:hover {
                color: beige;
                text-shadow: 2px 2px 7px white;
                }
            }
        }
    }

    h1 {
        color: aliceblue;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-style: italic;
        font-weight:400;
        font-size: 3rem;
        text-shadow: 3px 3px 9px black;
    }
}

.obfuscate-section {
    align-items: center;
    background: rgba(205, 205, 205, .30);
    width: 100%;
    height: 100%;
}

.seccion-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    background-image:url(https://th.bing.com/th/id/R.bbe26b997560c3733acaab63886c5752?rik=jkNE7RtiuhdfAQ&riu=http%3a%2f%2fwww.globalsat.tech%2fimg%2fslider%2fimg_11.jpg&ehk=VA00tTtgnrJvy07UKOgCqfDIu6UvB8x%2f4sC4HcqAouM%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div { 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
            font-size: 4rem;
            color:#222;
            text-shadow: 4px 4px 10px white;
            font-weight: 700;
        }

        .par-class { 
            flex-direction: column;
            width: 43rem;
            height: 7rem;
            margin-top: 2rem;
            overflow: hidden;

            ul { padding: 0;
                li {
                    @include parrafo();
                    list-style-type: none;
                    text-align: start;
                }
            } 
        }
    }
}

@media (max-width:782px) {

    .seccion {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }

    .seccion-inicio {
        flex-wrap: wrap;
        padding-left: 1;

        div {
            h1 {
                font-size: 3rem;
            }
           .par-class { 
            width: 30rem;
            height: 6.8rem;
                ul {
                    li {
                        @include parrafo2();
                    }
                }
            }
        }
    }
}

@media (max-width:475px) {

    .seccion {
        padding: 0;
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100%;
        height: 10;

        .navbar-toggler {
            padding: 1.5rem;
         }

         .navbar-dark .navbar-toggler {
            color: white;
            border-style: none;
        }

        h1{
            font-size: 2.5rem;
        }

        .menu-p {
            display: none;
        } 

     }

    .seccion-inicio {
        div {
            h1 {
                font-size: 2.5rem;
            }
            .par-class {
                width: 25rem;
                height: 4.6rem;
                ul {
                    li {
                        @include parrafo3();
                    }
                }
            }
        }
    }
}