body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
@mixin seccion-p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
@mixin parrafo {
            color:#222;
            font-size: 2.2rem;
            font-weight: 700;
            text-shadow: 4px 4px 10px aliceblue;
}
@mixin parrafo2 {
    color:#222;
    font-size: 2.1rem;
    font-weight: 700;
    text-shadow: 4px 4px 10px aliceblue;
}
@mixin parrafo3 {
    font-size: 1.5rem;
}

.seccion {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;

    #width-drop {
        display: none;
    }
    .menu {
        padding-top: 1rem;
        gap: 2rem;

         li { 
            list-style-type: none;
            a {
            text-decoration: none;
            font-size: 1rem;
            color: azure;

                &:hover {
                color: beige;
                text-shadow: 2px 2px 7px white;
                }
            }
        }
    }

    h1 {
        color: aliceblue;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-style: italic;
        font-weight:400;
        font-size: 3rem;
        text-shadow: 3px 3px 9px black;
    }
}

.obfuscate-section {
    align-items: center;
    background: rgba(205, 205, 205, .30);
    width: 100%;
    height: 100%;
}

.seccion-inicio {
     @include seccion-p();
    background-image:url(https://th.bing.com/th/id/R.bbe26b997560c3733acaab63886c5752?rik=jkNE7RtiuhdfAQ&riu=http%3a%2f%2fwww.globalsat.tech%2fimg%2fslider%2fimg_11.jpg&ehk=VA00tTtgnrJvy07UKOgCqfDIu6UvB8x%2f4sC4HcqAouM%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div { 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
            font-size: 4rem;
            color:#222;
            text-shadow: 4px 4px 10px white;
            font-weight: 700;
        }

        .par-class { 
            flex-direction: column;
            width: 43rem;
            height: 7rem;
            margin-top: 2rem;
            overflow: hidden;

            ul { padding: 0;
                li {
                    @include parrafo();
                    list-style-type: none;
                    text-align: start;
                }
            } 
        }
    }
}

@media (max-width:782px) {

    .seccion {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;

        .menu-p {
            display: none;
        }

        #width-drop {
            display: flex;

            #ul-w {
                width: 100vw;
            }
        }
    }

    .seccion-inicio {
        flex-wrap: wrap;
        padding-left: 1;

        div {
            h1 {
                font-size: 3rem;
            }
           .par-class { 
            width: 30rem;
            height: 6.8rem;
                ul {
                    li {
                        @include parrafo2();
                    }
                }
            }
        }
    }
}

@media (max-width:475px) {

    .seccion {
        padding: 0;
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100%;
        height: 7rem;

        #ul-w {
            width: 100vw;
        }

        .navbar-toggler {
            padding: 1.5rem;
         }

         .navbar-dark .navbar-toggler {
            color: white;
            border-style: none;
        }

        h1{
            font-size: 2.5rem;
        }

        .menu-p {
            display: none;
        } 

     }

    .seccion-inicio {
        div {
            h1 {
                font-size: 2.5rem;
            }
            .par-class {
                width: 25rem;
                height: 4.6rem;
                ul {
                    li {
                        @include parrafo3();
                    }
                }
            }
        }
    }

    .Qsomos {
        @include seccion-p();
        justify-content: center;
        align-items: center;
        background-color: #333;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444143' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23434855'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imagenem {
                border-radius: 30%;
                width: 50%;
                height: 50%;
                box-shadow: -13px -13px 13px black;
            }
        }
        h1 {
            padding-bottom: 2rem;
            text-align: center;
            font-size: 2rem;
            margin: 1rem;
            color:white;
            font-weight: 700;
        }

        p {
            padding-top: 1rem;
        }
    }
}